@import '../../common.scss';

/* banner */
.banner {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    margin: 130px 40px;
}

.bannerMonster {
    width: 250px;
    float: left;
    margin-top: -4em;
}

.banner h1 {
    font-family: $heading-font;
    font-size: 80px;
    color: darken($purple, 10%);
    text-align: right;
}

.banner button {
    float: right;
    padding: 20px 40px;
    background-color: $pink;
    color: $white;
    font-size: 35px;
    font-weight: 600;
    border: none;
}

.banner-divider {
    border-top: 2px solid $purple;
    margin-bottom: 150px;
    transform: translateY(-172px) translateX(5px) rotate(-7deg);
    margin-right: 40px;
}

// mobile styles
@media only screen and (max-width: 800px) {
    .bannerMonster {
        width: 100px;
        float: left;
        margin-top: -2em;
    }

    .banner h1 {
        font-size: 30px;
        color: darken($purple, 10%);
        text-align: right;
    }

    .banner button {
        float: right;
        padding: 20px 40px;
        background-color: $pink;
        color: $white;
        font-size: 24px;
        font-weight: 600;
        border: none;
    }

}

/* feature */
.feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 80px;
    margin-bottom: 30px;
}

.feature img {
    width: 300px;
}

.featureText {
    margin-left: 60px;
}

.featureText h2 {
    font-weight: bold;
    font-size: 40px;
}

.featureText p {
    font-size: 24px;
}