@import "../../../../common.scss";

.banner img {
  width: 40vw;
  max-height: 60vh;
  margin-right: 4vw;
}

.mission {
  font-family: "Bungee";
  font-size: 60px;
  color: #aaa2db;
  text-align: right;
  margin-top: 10vh;
  width: 70vw;
}

@media only screen and (max-width: 1366px) {

  .mission {
    font-size: 38px;
    width: 60vw;
  }
}

// iPad styles
@media only screen and (max-width: $ipad-size) {
  .banner img {
    width: auto;
    max-height: 40vh;
  }
}

// mobile styles
@media only screen and (max-width: $ipad-landscape) {
  .banner img {
    width: auto;
    position: relative;
    top: 5vh;
    height: 35vh;
  }
}

// mobile styles
@media only screen and (max-width: $mob-size) {
  .banner img {
    width: auto;
  }
}
