@import '../../common.scss';

// web styles
.container {
    padding: 0 $web-padding;
}

// iPad styles
@media only screen and (max-width: $ipad-size) {
    .container {
        padding: 0 $ipad-padding;
    }
}

// mobile styles
@media only screen and (max-width: $mob-size) {
    .container {
        padding: 0 $mob-padding;
    }
}