@import '../../../../common.scss';
$footer-bg : linear-gradient( rgba(246, 248, 255, 0.1), rgba(246, 248, 255, 1));

.footer-container {
    background: $footer-bg;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    // width: 100%;
    padding: 40px 0 20px;
    margin-top: 40px;
}

.footer-container h2 {
    font-family: $heading-font;
}

.footer-container input, .footer-container button {
    padding: 10px 20px;
    border: none;
    font-size: 18px;
}

.footer-container button {
    background-color: $purple;
    font-weight: bolder;
}

// iPad styles
@media only screen and (max-width: $ipad-size) {
    
    .footer-container {
        margin-top: 40px;
    }

    .footer-container h2 {
        font-size: 20px;
    }

    .footer-container input, .footer-container button {
        font-size: 14px;
    }
}

// mobile styles
@media only screen and (max-width: $mob-size) {
        
    .footer-container {
        margin-top: 20px;
        flex-direction: column;
    }

    .footer-container h2 {
        font-size: 12px;
    }

    .footer-container input {
        padding: 10px;
        font-size: 12px;
    }
    .footer-container button  {
        padding: 10px;
        font-size: 10px;
    }
}