@import '../../../../common.scss';

$navbar-bg : linear-gradient( rgba(246,248,255,0.1), rgba(249,213,122,1));

.navbar-container {
    background: white;
    width: 100%;
    
}

.navbar {
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 60px 90px 0;
    list-style-type: None;
    font-family: $text-font;
    align-items: baseline;
}

.navbar img {
    width: 300px;
}

.navbar li{
    margin-left: 30px;
}

.navbar a {
    text-decoration: none;
    font-family: 'Montserrat-semibold';
    color: $black;
    font-size: 22px;
}

.navbar a:hover {
    text-decoration: underline;
    color: $purple;
    cursor: pointer;
}
// mobile styles
@media only screen and (max-width: $mob-size) {
    .navbar {
        padding: 20px $mob-padding;
        padding-top: 24px;
    }

    .navbar img {
        width: 200px;
    }

    .navbar li {
        margin-left: 10px;
    }
}