@import '../../../../common.scss';

/* feature */
.feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 8em;
    margin-bottom: 30px;
    height: 250px;
    border-radius: 15px;
}

.feature img {
    width: 200px;
}

.featureText {
    // margin-left: 60px;
    width: 60%;
}

.featureText h2 {
    font-weight: bold;
    font-size: 40px;
}

.featureText p {
    font-size: 24px;
}

// mobile styles
@media only screen and (max-width: $mob-size) {
    .feature {
        padding: 10px;
        margin-bottom: 20px;
        height: 120px;
    }

    .feature img {
        display: none;
        width: 100px;
    }

    .featureText {
        margin-left: 10px;
        width: 100%;
    }

    .featureText h2 {
        font-size: 20px;
    }

    .featureText p {
        font-size: 14px;
    }
}