@import "../../../../common.scss";

.story {
  width: 1000px;
  margin: auto;
}

.story h1 {
  margin: 80px 0;
  text-align: left;
  font-size: 60px;
  font-family: $text-font-bold;
  color: $black;
}

.story p {
  font-size: 26px;
  line-height: 44px;
}

.quote {
  width: 1000px;
  margin: auto;
  font-size: 26px;
}

blockquote {
  margin: 0;
  line-height: 44px;
}

.quote blockquote:first-child {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 25px;
}

.quote blockquote:nth-child(2) {
  font-size: 26px;
}

.quoteBold {
  font-weight: 700;
  font-size: 54px;
}

.quoteReference {
  font-size: 26px;
  font-weight: 600;
  margin-left: 500px;
}

@media only screen and (max-width: 1366px) {
  .story h1 {
    font-size: 54px;
    margin: 30px 0;
  }

  .story p {
    font-size: 24px;
    line-height: 40px;
  }
}

@media only screen and (max-width: $ipad-size-sm) {
  .story {
    width: 80%;
  }

  .story h1 {
    font-size: 44px;
  }

  .story p {
    font-size: 22px;
    line-height: 38px;
  }
}

// mobile styles
@media only screen and (max-width: $ipad-landscape) {
  .story {
    padding: 20px $mob-padding;
    margin: 40px 0;
  }

  .story h1 {
    font-size: 36px;
    text-align: left;
  }

  .story p {
    font-size: 20px;
    padding: 0;
    line-height: 30px;
  }
}

@media only screen and (max-width: $mob-size) {
  .story {
    padding: 20px $mob-padding;
    text-align: center;
  }

  .story h1 {
    font-size: 26px;
    text-align: left;
    text-align: center;
  }

  .story p {
    font-size: 18px;
    padding: 0;
    line-height: 24px;
  }
}
