@import '../../common.scss';


.banner .heading-top {
    font-family: $text-font;
    color: $black;
    margin-top: 80px;
    margin-bottom: 20px;
}

.banner .heading-top b {
    font-family: $text-font-bold;
}

.banner h1 {
    font-family: $heading-font;
    font-size: 80px;
    color: $purple;
    text-align: right;
    margin-top: 0;
}

.banner button {
    float: right;
    padding: 20px 60px;
    background-color: transparent;
    color: $black;
    font-size: 35px;
    font-weight: 600;
    border: 1px solid $black;
    border-radius: 20px;
}

// iPad styles
@media only screen and (max-width: $ipad-size) {

    .banner .heading-top {
       margin-top: 60px;
    }

}

@media only screen and (max-width: $ipad-size-sm) {

    .banner h1 {
        font-size: 60px;
    }

}

// content

.content-wrapper {
    width: 1000px;
    margin: auto;
}

.content-wrapper .intro {
    margin-bottom: 80px;
}

.content-wrapper .intro h2 {
    font-size: 60px;
    margin-bottom: 40px;
    font-family: $text-font-bold;
}


.content-wrapper .intro p {
    font-size: 26px;
    line-height: 44px;
}


@media only screen and (max-width: 1366px) {
    .content-wrapper .intro h2 {
        font-size: 54px;
        margin-bottom: 30px;
    }
    
    .content-wrapper .intro p {
        font-size: 24px;
        line-height: 40px;
    }
}

@media only screen and (max-width: $ipad-size-sm) {
    .content-wrapper {
        width: 80%;
    }

    .content-wrapper .intro h2 {
        font-size: 44px;
    }

    .content-wrapper .intro p {
        font-size: 22px;
        line-height: 38px;
    }
}

// mobile styles
@media only screen and (max-width: $ipad-landscape) {
    .content-wrapper {
        padding: 20px $mob-padding;
    }

    .content-wrapper .intro {
        margin-bottom: 40px;
    }
    
    .content-wrapper .intro h2 {
        font-size: 36px;
        text-align: left;
    }
    
    
    .content-wrapper .intro p {
        font-size: 20px;
        padding: 0;
        line-height: 30px;
    }
}

@media only screen and (max-width: $mob-size) {
    .content-wrapper {
        padding: 20px $mob-padding;
    }

    .content-wrapper .intro {
        margin-bottom: 40px;
        text-align: center;
    }
    
    .content-wrapper .intro h2 {
        font-size: 26px;
        text-align: left;
        text-align: center;
    }
    
    
    .content-wrapper .intro p {
        font-size: 18px;
        padding: 0;
        line-height: 24px;
    }
}