@import url('https://fonts.googleapis.com/css?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/* // Theme colors: */
$black : #363635;
$white : #F6F8FF;
$pink : #f2a7a6;
$orange : #f7c896;
$blue : #a6dbdd;
$green : #d6f091;
$purple : #aaa2db;
$yellow : #fadb86;
$web-padding: 150px; /* left, right padding */
$mob-padding: 40px;

/* Theme fonts: */
$heading-font: 'Bungee';
$text-font: 'Montserrat';

/* background styles: */
.blackbg {
    background-color: $black;
}

.whitebg {
    background-color: $white;
}

.pinkbg {
    background-color: $pink;
}

.orangebg {
    background-color: $orange;
}

.bluebg {
    background-color: $blue;
}

.greenbg {
    background-color: $green;
}

.purplebg {
    background-color: $purple;
}

.yellowbg {
    background-color: $yellow;
}